<section>
  <h2>Some stats</h2>
  <section>
    <h3>How many banking websites give these sites remote access as you?</h3>
    <div class="chart-container" style="height: 20vh">
      <canvas id="domainCount"></canvas>
    </div>
  </section>
  <section>
    <h3>
      How many banking websites give these companies remote access as you?
    </h3>

    <div class="chart-container" style="height: 20vh">
      <canvas id="hasAccessCount"></canvas>
    </div>
  </section>
  <script>
    const domainsCount = [
      { domain: "googletagmanager.com", count: 9 },
      { domain: "liveperson.net", count: 8 },
      { domain: "tiqcdn.com", count: 7 },
      { domain: "adobedtm.com", count: 6 },
      { domain: "doubleclick.net", count: 6 },
    ];
    const hasAccessCount = [
      { hasAccess: "Google", count: 10 },
      { hasAccess: "Adobe", count: 8 },
      { hasAccess: "LivePerson", count: 8 },
      { hasAccess: "Tealium", count: 7 },
      { hasAccess: "Meta", count: 5 },
    ];
    new Chart(document.getElementById("domainCount"), {
      type: "bar",
      data: {
        labels: domainsCount.map((x) => x.domain),
        datasets: [
          {
            label: "These sites can be you",
            data: domainsCount.map((x) => x.count),
            borderWidth: 1,
          },
        ],
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
    new Chart(document.getElementById("hasAccessCount"), {
      type: "bar",
      data: {
        labels: hasAccessCount.map((x) => x.hasAccess),
        datasets: [
          {
            label: "Company Count",
            data: hasAccessCount.map((x) => x.count),
            borderWidth: 1,
          },
        ],
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
  </script>
</section>
<section>
  <h2>A breakdown by UK banks</h2>
  <p>This is not exhaustive.</p>
  <p>Updated: 8th February 2025</p>
  <table class="theycanbeyou">
    <thead>
      <tr>
        <th scope="col">Website</th>
        <th scope="col">Provide remote access to</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" rowspan="6">Bank of Ireland</th>
        <td>Amazon</td>
      </tr>
      <tr>
        <td>AppDynamics</td>
      </tr>
      <tr>
        <td>Cookie Law</td>
      </tr>
      <tr>
        <td>Google</td>
      </tr>
      <tr>
        <td>Meta</td>
      </tr>
      <tr>
        <td>Optimizely</td>
      </tr>
      <tr>
        <th scope="row" rowspan="4">Bank Of Scotland</th>
        <td>Dynatrace</td>
      </tr>
      <tr>
        <td>LivePerson</td>
      </tr>
      <tr>
        <td>Lloyds</td>
      </tr>
      <tr>
        <td>Tealium</td>
      </tr>
      <tr>
        <th scope="row" rowspan="3">Coutts</th>
        <td>Adobe</td>
      </tr>
      <tr>
        <td>Cookie Law</td>
      </tr>
      <tr>
        <td>LivePerson</td>
      </tr>
      <tr>
        <th scope="row" rowspan="7">First Direct</th>
        <td>AppDynamics</td>
      </tr>
      <tr>
        <td>Google</td>
      </tr>
      <tr>
        <td>LivePerson</td>
      </tr>
      <tr>
        <td>Meta</td>
      </tr>
      <tr>
        <td>Microsoft</td>
      </tr>
      <tr>
        <td>Optimizely</td>
      </tr>
      <tr>
        <td>Tealium</td>
      </tr>
      <tr>
        <th scope="row" rowspan="7">HSBC</th>
        <td>Amazon</td>
      </tr>
      <tr>
        <td>AppDynamics</td>
      </tr>
      <tr>
        <td>Google</td>
      </tr>
      <tr>
        <td>LivePerson</td>
      </tr>
      <tr>
        <td>Meta</td>
      </tr>
      <tr>
        <td>Tealium</td>
      </tr>
      <tr>
        <td>Twitter</td>
      </tr>
      <tr>
        <th scope="row" rowspan="3">Lloyds</th>
        <td>Dynatrace</td>
      </tr>
      <tr>
        <td>LivePerson</td>
      </tr>
      <tr>
        <td>Tealium</td>
      </tr>
      <tr>
        <th scope="row" rowspan="3">Metro Bank</th>
        <td>Google</td>
      </tr>
      <tr>
        <td>One Trust</td>
      </tr>
      <tr>
        <td>Optimizely</td>
      </tr>
      <tr>
        <th scope="row" rowspan="3">Nationwide</th>
        <td>Adobe</td>
      </tr>
      <tr>
        <td>LivePerson</td>
      </tr>
      <tr>
        <td>One Trust</td>
      </tr>
      <tr>
        <th scope="row" rowspan="5">Natwest</th>
        <td>Adobe</td>
      </tr>
      <tr>
        <td>Amazon</td>
      </tr>
      <tr>
        <td>Cookie Law</td>
      </tr>
      <tr>
        <td>Google</td>
      </tr>
      <tr>
        <td>LivePerson</td>
      </tr>
      <tr>
        <th scope="row" rowspan="6">RBS</th>
        <td>Adobe</td>
      </tr>
      <tr>
        <td>Amazon</td>
      </tr>
      <tr>
        <td>Cookie Law</td>
      </tr>
      <tr>
        <td>Google</td>
      </tr>
      <tr>
        <td>LivePerson</td>
      </tr>
      <tr>
        <td>Natwest</td>
      </tr>
      <tr>
        <th scope="row" rowspan="8">Sainsbury&#x27;s</th>
        <td>Callsign</td>
      </tr>
      <tr>
        <td>Google</td>
      </tr>
      <tr>
        <td>Marin Software</td>
      </tr>
      <tr>
        <td>Meta</td>
      </tr>
      <tr>
        <td>Tealium</td>
      </tr>
      <tr>
        <td>The Trade Desk</td>
      </tr>
      <tr>
        <td>TikTok</td>
      </tr>
      <tr>
        <td>Twitter</td>
      </tr>
      <tr>
        <th scope="row" rowspan="3">Santander</th>
        <td>Adobe</td>
      </tr>
      <tr>
        <td>One Trust</td>
      </tr>
      <tr>
        <td>splash-screen.net</td>
      </tr>
      <tr>
        <th scope="row" rowspan="3">Tesco</th>
        <td>Adobe</td>
      </tr>
      <tr>
        <td>Cheq</td>
      </tr>
      <tr>
        <td>Google</td>
      </tr>
      <tr>
        <th scope="row" rowspan="3">The co-operative bank</th>
        <td>GlassBox</td>
      </tr>
      <tr>
        <td>Tealium</td>
      </tr>
      <tr>
        <td>Trust Pilot</td>
      </tr>
      <tr>
        <th scope="row" rowspan="8">TSB</th>
        <td>Adobe</td>
      </tr>
      <tr>
        <td>BioCatch</td>
      </tr>
      <tr>
        <td>Click Tale</td>
      </tr>
      <tr>
        <td>Dynatrace</td>
      </tr>
      <tr>
        <td>Google</td>
      </tr>
      <tr>
        <td>Microsoft</td>
      </tr>
      <tr>
        <td>Tealium</td>
      </tr>
      <tr>
        <td>Yext</td>
      </tr>
      <tr>
        <th scope="row" rowspan="9">Virgin Money</th>
        <td>Adobe</td>
      </tr>
      <tr>
        <td>BioCatch</td>
      </tr>
      <tr>
        <td>Contentsquare</td>
      </tr>
      <tr>
        <td>Crownpeak</td>
      </tr>
      <tr>
        <td>Google</td>
      </tr>
      <tr>
        <td>Meta</td>
      </tr>
      <tr>
        <td>Microsoft</td>
      </tr>
      <tr>
        <td>Wingify</td>
      </tr>
      <tr>
        <td>eGain</td>
      </tr>
    </tbody>
  </table>
</section>
